# Ignore everything
*

# Keep these files
!.gitignore
!simple_cv.py
!test_btserial.py
!README.md

# Keep these folders and their contents
!simple_serial_viewer/
!simple_serial_viewer/**
!udp_worked/
!udp_worked/**