# Ignore everything
*

# Keep these files
!.gitignore
!simple_cv.py
!test_btserial.py
!README.md

# Keep these folders and their contents
!simple_serial_viewer/
!simple_serial_viewer/**
!bt_esp_simple_motor/
!bt_esp_simple_motor/**
!udp_worked/
!udp_worked/**
!esp_udp_motor/
!esp_udp_motor/**