# Ignore everything
*

# Keep these files
!.gitignore
!simple_cv.py
!test_btserial.py

# Keep this folder and its contents
!simple_serial_viewer/
!simple_serial_viewer/**
!bt_esp_simple_motor/**

!README.md